/* External Fonts */
/* Paragraph */  @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600);
/* Headings */  @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* General */
body {
  background: #FBF6F4;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr{
  border: 0;
  height: 2px;
  background: #222;
  margin-top: 25px; 
  margin-bottom: 25px; 
}

/* Full-width horizontal sections */
body > header,
body > section,
body > footer {
  display: block;
  width: 100%;
  clear: both;
  float: left;
}

/* Paragraph */
p {
  font-size: 18px;
  color: #444;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}

/* Headings */
h1, h2, h3 , h4, h5, h6{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

/* Link */
a {
  color: #3366BB;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* Lists */
ul{
 
}
ol{
 
}

/* Buttons */
.button-square{
  border-radius: 2px;
  background:rgba(0,0,0,0);
  border: 3px solid #000;
  padding: 8px 16px;
  color: #000;
  margin-top:0px;
}
.button-square:hover, .button-square:focus{
	background: #000;
	color: #fff;
}
.button-round{
  border-radius: 10px;
  background:#fff;
  border: 3px solid #000;
  padding: 8px 16px;
  color: #000;
  margin-top:0px;
}
.button-round:hover, .button-round:focus{
	background: #000;
	color: #fff;
}
.button-oval{
  border-radius: 100px;
  background:#fff;
  border: 3px solid #000;
  padding: 8px 16px;
  color: #000;
  margin-top:0px;
}
.button-oval:hover, .button-oval:focus{
	background: #000;
	color: #fff;
}

header, section {
  border-bottom: 1px solid #eee;
}

header, section, footer {
  border-top: 1px solid #fff;
}

section, footer {
  padding: 30px 0;
}

/* Blockquote */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* Table */
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #bbb;
}
td,th {
    border: 1px solid #ddd;
    padding: 12px; 20px;
}
@media screen and (max-width: 640px) {
	table {
		overflow-x: auto;
		display: block;
	}
}

/* Video */
.embed { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto; 
} 
.embed iframe, .embed object, .embed embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

/* Code */
pre{
	background: #ddd;
	border: 3px solid #ddd;
	border-radius: 5px;
	padding: 25px;
}

/* Form */
.form {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.form h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.form h1>span {
    display: block;
    font-size: 11px;
}
.form label {
    display: block;
    margin: 0px;
}
.form label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.form input[type="text"], .form input[type="email"], .form textarea, .form select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.form textarea{
    padding: 5px 3px 3px 5px;
}
.form select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.form textarea{
    height:100px;
}



